:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  overflow: auto;
  z-index: 2;
  background: inherit;
  position: relative;
}
.datails_title {
  font-size: 20px;
  font-weight: 600;
}
.page {
  position: relative;
  padding: 3em;
  background: inherit;
  box-shadow: 0 10px 100px 0 rgba(34, 36, 38, 0.1);
  transition: box-shadow 0.2s linear;
}
.contacts li a {
  color: inherit;
  transition: color 0.2s ease-in-out;
}
.details > input::after {
  content: " ";
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.5em solid rgb(10, 13, 184);
  border-right: 0.5em solid rgb(10, 13, 184);
  color: inherit;
  position: relative;
  width: 0.7em;
  height: 0.9em;
  cursor: pointer;
}
.divider.fat {
  color: inherit;
  border-top: 0.3571428571428571em solid;
  width: 33%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 150ms var(--timing-function),
    background-color 150ms var(--timing-function);
}

body.light-theme {
  background: #fff;
  color: #333333;
}

body.dark-theme {
  background: #02011ab0;
  color: #fff;
}

/* THEME SWITCH */
.theme-switch {
  display: inline-flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
